{% extends "layout/base.html" %}

{% block mantap%}
<h2> Send Message </h2>
<form = id="forms" method="POST" action = "" >
  {% csrf_token %}
<table class="table">
    {{forms.as_table}}
</table>
  <br>
  <button type = "submit" class="btn btn-default">Submit</button>
  </form>
{% endblock%}
