{% extends "layout/base.html" %}
{% load staticfiles %}
<head>
    <title> This is my portofolio website </title>
</head>
  <body>
    {% block mantap %}
    <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1> Hello There!</h1>
            <p class="big-text"> My name is Muhammad Sendi Siradj</p>
            <p>Currently i am studying website programming</p>
            <p>You can see my works
              <a href="{% url 'pictures' %}" target="_self">here</a>
          </div>

          <div class="col-sm-6">
            {% load static %}
            <img src= "{% static "images/image.png" %}" class="img-responsive">
          </div>

        </div>
      </div>
      {% endblock%}
  </body>
