{% extends "layout/base.html" %}
  <body>
    {% block mantap %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
            <p>Back to Home
              <img src="image2.jpg" class="img-responsive">
            <a href="{% url 'index' %}" target="_self">Link to Home</a>
        </div>
        <div class="col-sm-6">
          <img src="image3.jpg" class="img-responsive">
        </div>





      </div>
    </div>
{% endblock %}

  </body>
