*{
  margin : 0;
  padding : 0;
}
.header
{
  height : 100vh;

}
.navbar-style
{
  box-shadow : 0 5px 10px #efefef;
  text-transform : uppercase;
}
.logo
{
  height : 48px;
  padding : 2px 10px;
}
.icon-bar
{
  background : darkorange;
}
.big-text
{
  font-size: 52px;
  margin: 20px 0;
  color: darkorange;

}
