<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   </head>
  <body>
  <header>
    {% include "layout/header.html" %}

    </header>

    {% block mantap%}
    {% endblock%}
    </body>





</html>
